# Ejecutables
*.exe
*.out
sort

# Archivos temporales
*.o

# VSCode
.vscode/

# Mac / Linux basura
.DS_Store


# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Archivos de entorno virtual
.venv/
env/
ENV/
